@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

input {
    display: block;
    width: 90%;
    height: 48px;
    background: transparent;
    font-size: 16px;
    margin: auto;
    border: none;
}

.field-error {
    /* background-color: red; */
    border: solid;
    border-width: 1px;
    border-color: red; 
}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color:#9BA1A3;
}

button {
    margin-top: 25px;
    width: 180px;
    height: 55px;
    border-radius: 27.5px;
    border: none;
    background-color: #5cdb5c;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

button:focus {
    border: none;
    outline: none;
   
}

button:active {
    background-color: #4fbd4f;
}

button:hover {
    /* background-color: red; */
    cursor: pointer;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
}

hr {
    margin: 0;
}

.container {
    text-align: center;
}

.image {
    margin-top: 40px;
    height: 150px;
    width: 150px;
}

.fields-container {
    background-color: #F8F8F8;
    width: 350px;
    height: 210px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.25);
}

.title {
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(101, 66, 40);
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    color: rgb(101, 66, 40);
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 40px;
}
