
input {
    display: block;
    width: 90%;
    height: 48px;
    background: transparent;
    font-size: 16px;
    margin: auto;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

input::placeholder {
    color:#9BA1A3;
}

button {
    margin-top: 25px;
    width: 180px;
    height: 55px;
    border-radius: 27.5px;
    border: none;
    background-color: #3BB435;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

button:focus {
    border: none;
    outline: none;
}

hr {
    margin: 0;
}

.container {
    text-align: center;
}

.image {
    height: 300px;
    width: 300px;
}

.fields-container {
    background-color: #EDEDED;
    width: 350px;
    height: 210px;
    margin: auto;
    border-radius: 10px;
}

